<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <img src="./assets/images/Weather_Two%20Color%201.svg" alt="" srcset="">
    </div>
    <div class="col align-items-center text">
      <span class="title"><b>medir</b>solar</span>
      <p>Você acompanhando a medição de temperatura e umidade de vários lugares da cidade em que vive.</p>
      <p>Trabalho apresentado na disciplina de TI5, consiste em um projeto que simula uma estação metereológica com
      o uso de sensore, arduínos e um raspbery PI.</p>
    </div>
  </div>
</div>
