
<div class="row pt-5">
  <div class="col text">
    <div>
      <h1 class="title pb-3">Medições</h1>
      <h5 class="subtitle">última atualização</h5>
      <p>{{medicao.data}}</p>
    </div>
    <table style="height: 100px;">
      <tbody>
      <tr>
        <td><fa-icon [icon]="faTemperatureHalf" [rotate]="90" class="pe-5"></fa-icon></td>
        <td ><span class="text-muted pe-2 label align-content-center">Temperatura:</span></td>
        <td ><span class="">{{medicao.temperatura}} C</span></td>
      </tr>
      <tr>
        <td><fa-icon [icon]="faDroplet" class="pe-5"></fa-icon></td>
        <td ><span class="text-muted pe-2 label align-content-center">Umidade:</span></td>
        <td ><span class="">{{medicao.umidade}}%</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col justify-content-center">
    <img class="classification" src="assets/images/cold1.png">
    <p>{{temperatureIndex}}</p>
  </div>
</div>
